{% extends "base/base.html" %}
{% block content %}
<h1>All sessions</h1>
{% for session in sessions %}
<div>
    <strong>User Name:</strong> {{ session.user.username }}<br>
    <strong>Game Name:</strong> {{ session.game.name }}<br>
    <strong>Date:</strong> {{ session.date }}<br>
    <strong>Score:</strong> {{ session.score }}<br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="session_id" value="{{ session.pk }}">
        <input type="submit" name="delete" value="Delete Session">
    </form>
</div>
{% endfor %}
{% endblock content %}

